<launch>
      
      <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
  	  <arg name="world_file" value="$(find toy_robot)/world/toy_world.world"/>
      </include>

      <node name="free_space_navigation_node" pkg="toy_robot" type="free_space_navigation_node" output="screen"/>

      <node name="input_server" pkg="toy_robot" type="input_server" output="screen"/>


</launch>
